<div class="d-flex mb-3">
  <div class="col mr-auto">
    <span class="h4">{% block page_header_title %}{% endblock %}</span>
  </div>
  <div class="col text-end">
    {% block page_header_buttons %}{% endblock %}
  </div>
</div>
