/* stylelint-disable selector-list-comma-newline-after */

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

/* Issue Browser */
.issue-browser > .row {
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
}
.issue-browser > .row > .col-1 {
  display: inline-block;
  float: none;
}

/* User Steps */
ol.user-steps {
  padding-left: 0;
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
}
ol.user-steps > li {
  position: relative;
  padding-left: 60px;
  min-height: 60px;
}
ol.user-steps > li:before {
  content: counter(li);
  counter-increment: li;
  color: #fff;
  background-color: #1e1e1e;
  border-color: #000;
  border-radius: 50%;
  font-size: 18px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* Site Header */
.site-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}
.site-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}
.site-header-logo:hover {
  text-decoration: none;
}

/* Home Page Hero */
.jumbotron {
  background-size: cover;
}
.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}
