{% extends 'admin/base.html.twig' %}

{% block title %}Edit Volume{% endblock %}

{% block body %}
    <h1>Edit Volume</h1>

    {{ include('admin/volume/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin/volume/_delete_form.html.twig') }}
{% endblock %}
