<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather"> 
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
          <h1>The Pacer Archives</h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="{{ path('home') }}">Archives</a></li>
            <li class="list-inline-item"><a href="{{ path('missing-issues') }}">Missing Issues</a></li>
          </ul>
          <hr />
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
