{% extends 'admin/base.html.twig' %}

{% block title %}Edit Issue{% endblock %}

{% block body %}
    <h1>Edit Issue</h1>

    {{ include('admin/issue/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin/issue/_delete_form.html.twig') }}
{% endblock %}
