{% extends 'base_admin.html.twig' %}

{% block title %}New Article - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
  {% embed 'admin/_page_header.html.twig' %}
  {% block page_header_title %}New Article{% endblock %}
  {% block page_header_buttons %}
  <a href="{{ path('article_index') }}"><i class="fas fa-list fa-fw"></i></a>
  {% endblock %}
  {% endembed %}

  {{ include('admin/article/_form.html.twig') }}
</div>
{% endblock %}
