{% extends 'base_admin.html.twig' %}

{% block title %}New Article - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Create New Article</h1>

    {{ include('admin/article/_form.html.twig') }}

    <a href="{{ path('article_index') }}"><i class="fas fa-list fa-fw"></i></a>
</div>
{% endblock %}
