{% extends 'base.html.twig' %}

{% block title %}About - {{ parent() }}{% endblock %}

{% block body %}
<div class="container mt-3">
  <div class="row mb-4">
    <div class="col-lg-6">
      <h2>Our History</h2>
      <p>Started in 1928, <em>The Volette</em> was the first regularly published student newspaper at the University of Tennessee Junior College, later the University of Tennessee Martin Branch and then the <a href="http://www.utm.edu" target="_blank">University of Tennessee at Martin</a>. Its history dates back to prior student publications run in the local newspaper under <em>The Checkboard</em> nameplate, with the staff group referred to as "The Checkers."</p>
      <p>In 1971, at the same time the university's athletic teams were being renamed as the UT Martin Pacers, the newspaper also became <a href="http://www.thepacer.net/"><em>The Pacer</em></a>. Today it is published twice a month and distributed around campus.</p>
    </div>
    <div class="offset-lg-1 col-lg-5 text-center">
      <img src="{{ asset('assets/images/cover-image.png') }}" class="img-thumbnail img-fluid" alt="Newspaper Covers">
    </div>
  </div>

  <h3>About the Archives</h3>

  <p>The majority of this collection is from issues that were photographed and printed to microfilm in the 1980s and 2000s. This archival process preserves the content of the newspapers for far longer than the printed version can survive even under the best of conditions. Later years are a combination of digitally preserved copies and the original production PDFs that were sent to the printing press.</p>

  <p>Many issues are overexposed on the original microfilm, likely a product of operator error. The scanning process in the Fall of 2018 was unable to significantly correct for the error, resulting in some pages (particularly the first few pages of several issues) being illegible. The original microfilm holdings at the <a href="https://sos.tn.gov/tsla">Tennessee State Library &amp; Archives</a> and the <a href="https://www.utm.edu/library.php" target="_blank">Paul Meek Library</a> may provide a better scan when viewed with the appropriate software.</p>

  <ul>
    <li><strong>Issues from 1971 to 1985</strong> are available here and <a href="https://archive.org/details/thepacer">in the Archive.org collection</a>.</li>
    <li><strong>Issues from 1985 to 2000</strong> have not yet been scanned from <a href="http://library.utm.edu/record=b1334328">microfilm available at the Paul Meek Library</a>.</li>
    <li><strong>Issues from 2000 to today</strong> are not on microfilm. They exist as a combination of physical copies at UT Martin and production PDFs maintained by the newspaper staff.</li>
  </ul>

  <p>You can help us finish the collection by <a href="{{ path('donate') }}">supporting our efforts</a>.</p>

  <h3>Acknowledgements</h3>
  <ul>
    <li>The <a href="https://www.utm.edu/library.php" target="_blank">University of Tennessee at Martin Paul Meek Library</a> maintaining the microfilm and physical collection throughout the newspaper's history.</li>
    <li>The <a href="https://sos.tn.gov/tsla" target="_blank">Tennessee State Library and Archives</a> for digitizing the microfilm collection from 1929 to 1985.</li>
    <li>The faculty of the <a href="https://www.utm.edu/departments/comm/">UT Martin Communications Department</a> for their tireless support of the student newspaper.</li>
    <li>The staff of <a href="https://www.thepacer.net"><em>The Pacer</em></a> for their help in obtaining issues for the archives.</li>
    <li><a href="https://thenounproject.com/term/newspaper/1951803" target="_blank">Newspaper</a>, <a href="https://thenounproject.com/term/browse/2021985" target="_blank">Browse</a> and <a href="https://thenounproject.com/term/harmonious/1911617" target="_blank">Harmonious</a> icons by faisalovers from the Noun Project.</li>
  </ul>

</div>
{% endblock %}
