{% extends 'base.html.twig' %}

{% block title %}About - {{ parent() }}{% endblock %}

{% block body %}
<div class="container mt-3">
  <h2>Support <em>The Pacer</em></h2>

  <p class="lead">Financial support from our alumni and the campus community helps train the next generation of communication professionals. Your gift to the newspaper will fund scholarships, equipment upgrades and outreach efforts for recruiting high school and transfer students into the News Editorial program.</p>

  <ol class="user-steps">
    <li class="py-2"><a href="https://securelb.imodules.com/s/1341/utaa/form/interior_form.aspx?sid=1341&gid=5&pgid=4197&cid=6250" class="btn btn-primary" target="_blank">Open the Donation Form</a></li>
    <li class="py-2">Under <strong>Campus Priorities</strong>, select <strong>Other Fund Not Listed</strong>.</li>
    <li class="py-2">Enter <strong>"The Pacer"</strong> in the field provided.</li>
    <li class="py-2">Complete the rest of the form.</li>
  </ol>
  
  <h4 class="text-center my-5">Thank you for your support!</h4>

</div>
{% endblock %}
